/pldspectrapy/ExampleFolder/dcs_spectra/SteadyState_150sec.txt

*.xml

__pycache__/clipboard_and_style_sheet.cpython-37.pyc

__pycache__/fig_format.cpython-37.pyc

__pycache__/labfithelp.cpython-37.pyc

__pycache__/linelist_conversions.cpython-37.pyc

__pycache__/packfind.cpython-37.pyc

__pycache__/td_support.cpython-37.pyc

.idea/modules.iml

hapi_sceg/__init__.py

hapi_sceg/__pycache__/__init__.cpython-37.pyc

hapi_sceg/__pycache__/hapi_sceg.cpython-37.pyc

hapi_sceg/__pycache__/hapi.cpython-37.pyc

hapi_sceg/hapi_sceg.py

hapi/__pycache__/__init__.cpython-37.pyc

hapi/__pycache__/hapi.cpython-37.pyc

pldspectrapy/__pycache__/__init__.cpython-37.pyc

pldspectrapy/__pycache__/combtools.cpython-37.pyc

pldspectrapy/__pycache__/constants.cpython-37.pyc

pldspectrapy/__pycache__/editmodule.cpython-37.pyc

pldspectrapy/__pycache__/fitting.cpython-37.pyc

pldspectrapy/__pycache__/igtools.cpython-37.pyc

pldspectrapy/__pycache__/pldhapi.cpython-37.pyc

pldspectrapy/__pycache__/plot.cpython-37.pyc

pldspectrapy/__pycache__/sim.cpython-37.pyc

pldspectrapy/pldhapi - Copy.py

__pycache__/clipboard_and_style_sheet.cpython-311.pyc

__pycache__/fig_format.cpython-311.pyc

__pycache__/labfithelp.cpython-311.pyc

__pycache__/linelist_conversions.cpython-311.pyc

__pycache__/packfind.cpython-311.pyc

__pycache__/td_support.cpython-311.pyc

hapi/__pycache__/__init__.cpython-311.pyc

hapi/__pycache__/__init__.cpython-38.pyc

hapi/__pycache__/hapi.cpython-311.pyc

hapi/__pycache__/hapi.cpython-38.pyc

pldspectrapy/__pycache__/__init__.cpython-311.pyc

pldspectrapy/__pycache__/__init__.cpython-38.pyc

pldspectrapy/__pycache__/combtools.cpython-311.pyc

pldspectrapy/__pycache__/constants.cpython-311.pyc

pldspectrapy/__pycache__/constants.cpython-38.pyc

pldspectrapy/__pycache__/editmodule.cpython-311.pyc

pldspectrapy/__pycache__/editmodule.cpython-38.pyc

pldspectrapy/__pycache__/fitting.cpython-311.pyc

pldspectrapy/__pycache__/fitting.cpython-38.pyc

pldspectrapy/__pycache__/igtools.cpython-311.pyc

pldspectrapy/__pycache__/igtools.cpython-38.pyc

pldspectrapy/__pycache__/pldhapi.cpython-311.pyc

pldspectrapy/__pycache__/pldhapi.cpython-38.pyc

pldspectrapy/__pycache__/plot.cpython-311.pyc

pldspectrapy/__pycache__/plot.cpython-38.pyc

pldspectrapy/__pycache__/sim.cpython-311.pyc

pldspectrapy/__pycache__/sim.cpython-38.pyc
